input{
  border-radius:10px;
  width:150px;
  height:30px;
  margin-left:25px;
  margin-bottom:20px;
  caret-color:purple;
  
  }
  input:focus{
    box-shadow:2px 3px 4px rgb(100,100,100);
    outline:none;
    }
 #result{
    width:80px;
    height:35px;
    text-align:center;
    display:none;
    margin-left:25px;
    }
    #refresh{
      margin:25px;
      }
      #options{
        width:300x;
        height:100px;
        background:rgb(33,36,41);
        display:none;
        
        }
        i{
        
        margin-left:10px;
        float:left;
        font-size:30px;
        
        }
        #op{
          color:white;
          text-align:center;
          
          }
        #op:hover{
          background:black;
          }